body {
    font-family: "Arial", sans-serif;
    margin: 15px;
    background-color: #f7f7f7;
}

#otsikko {
    text-align: center;
    color: #333; 
    font-size: 24px; 
    margin-bottom: 20px; 
}

#kuvaus {
    text-align: center;
    color: #555; 
    font-size: 16px; 
    margin-bottom: 20px;
}

form {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
}

label {
    margin: 15px;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: #333; 

input[type="text"],
input[type="email"],
input[type="number"],
select,
textarea {
    width: 90%;
    padding: 8px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}


#ika {
    width: 50px;
}


#kommentit {
    width: 90%;
    max-width: 90%;
    height: 70px;
    overflow: auto;
}


.virhe {
    color: red;
    font-size: 12px;
    display: none;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px; /* Tekstin koko */
}

    button:hover {
        background-color: #0056b3;
    }

.ryhma {
    display: flex;
    align-items: center;
}

    .ryhma label {
        width: 70px;
        margin: 10px;
        color: #333; 
    }

.valinta {
    display: flex;
    align-items: center;
}

    .valinta label {
        width: 70px;
        margin: 10px;
        color: #333;
    }

fieldset {
    width: auto;
    margin: 10px;
}
#laheta{
margin:10px;
}
