figure {
    float: left;
    margin: 0px 5px;
}

figcaption {
    text-align: center;
    color: #ff0000
}

h2 {
    font-size: 40px;
}

p {
    font-size: 20px;
}

img {
    height: 250px;
}
