body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

main {
    max-width:60%;
}

#kuva {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto
}

#tribute-link {
    margin-top: 20px;
}
#tribute-info {
    text-align:left;
}
